<div class="favorites">
<div class="form-group">

  <h1>Favorite Pets<span class="applications-header">Current Applications</span></h1>

  <div class="applications-header">
    <% @applications.each do |app| %>
      <% app.pets.each do |pet| %>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}", class:'btn btn-info'%>
        <% end %>
      <% end %>
  </div>

  <% if session[:favorites] == nil || session[:favorites].length == 0 %>
    <div class="nfp">
      I Have No Favorited Pets
    </div>
  <%else %>
    <%= link_to 'Delete All Favorites', '/favorites/delete' , class:"btn btn-danger" %>
  <% end %>
<%= link_to 'Adopt Favorited Pets', 'applications/new', class: 'btn btn-primary', method: :get %>
  <br/><br/>
  <div class="favorites-pets">
  <%= render "shared/pet_list" %>
  </div>
</div>
</div>
