
<html>
<body>

 <link rel="stylesheet" href="stylesheets/weclcome.css" title="text/css" />
<div class="header">
<h1 id="welcome-header">Welcome to Adopt Dont Shop</h1>
</div>
 <div class="main-pic">
<!--<div class="main-pic">-->
<!--  <img src="https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">-->
<!--   <img src="https://www.homereserve.com/ckeditor_assets/pictures/120/content_doghero.jpg">-->


   <!--</div>-->
</div>
</body>
  </html>


  
