/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import "bootstrap-sprockets";
// @import "bootstrap";

.flash-message {
  color: green;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -25px;
}

 h1#dominant-header {
  text-align:center;
  text-shadow: 8px 8px 10px blue;
  font-size: 40px;
}

.delete-favorites{
  align: center
}

.nav-link{
  font-size: 30px;
}

.image {
  max-height: 200px;
  max-width: 200px;
}

.list-page {border: 2px solid black;
  outline: black solid 7px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.applications-header {
  float: right;
}