/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.success_msgs{
  text-align:center;
  font-family: Copperplate;
  font-size: 25px;
  display: inline-block;

}
.nav-item{
  font-family: fantasy;
  font-size: 70px;
}
.footer1 {
    position: fixed;
    clear: both;
    bottom: 0;
    width: 100%;
}

h1#welcome-header{
  text-align:center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 80px;
  font-family: Copperplate;
  color: black;
}
h1#dominant-header {
 text-align:center;
 text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
 font-size: 80px;
 font-family: fantasy;
 color: red;
}

.pet-pic{
  background-color: #FFF8DC;
  background-size: cover;
}

.shelter-pic {
  background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fpeopledotcom.files.wordpress.com%2F2019%2F01%2Fpuppies.jpg");
  background-size: cover;
}

.main-pic {
  justify-content: center;
  padding-left: 150px;

}

.shelter-border{
  width: 25%;
  background: black;
  color: white;
  justify-content: center;
  display: inline-block;
  opacity: 0.9;
}

.button1 {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



h3#shelter {
  font-size: 50px;
  text-align: center;
}


p#app-info{
  font-size: 20px;
  max-width: 450px;
  margin-left: 735px;
  text-align: center;
}

h4#h4header{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -10px;
  text-decoration-line: underline;
  text-align: center;
}

section.app-pets-for {
  margin-left: 30px;
}

p.pet-name-link {
  text-align: center;
  font-size: x-large;
}

h1.shelter-name {
  font-weight: bold;
  text-decoration-line: underline;
}

div.shelter-links {
  font-size: large;
}

h5.review-title {
  font-size: 20px;
}

p.review-content {
  font-size: 15px;
}

.dog{
  max-height: 10px;
  max-width: 10px;
}

h4#pet-show{
  font-size: 20px;
}

.create-new-shelter {
  background: black;
  color: white;
}

.flash-message {
  color: green;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -25px;
}



.delete-favorites{
  align: center
}

.nav-link{
  font-size: 30px;
}

.image {
  max-height: 200px;
  max-width: 200px;
}

.list-page {border: 2px solid black;
  outline: black solid 7px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.applications-header {
  float: right;
  word-spacing: 10px;
  padding-right: 20px;
}

h1.pet-app {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

ul.app-names {
  text-align: center;
  font-size: 30px;
}

div.no-apps {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  margin-top: 100px;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.nav-item{
  color: white;
}

 .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  padding: 10px;
  display: inline-block;
  color: white;
}

#navbarSupportedContent{
  display: inline-block;
  float: none;
  vertical-align: top;

}
.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 1.3rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
  display: inline-block;
  color: white;
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    padding-right:30px;
    color: white;

  }


  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: inline-block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
    color: white;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

.navbar body > nav{
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar  {
  text-align: center;
}
